
#header {
    width: 100%;
}

#db-wrapper {
    width: 100%;
}

button {
    margin-bottom: 10px;
}

.w-div {
    width: 80%;
    margin: auto;
    border-radius: 12px;
    border: 3px solid black;
    margin-top: 30px;
    min-height: 200px;
    text-align: left;
}

#material {
    min-height: 500px;
}
.add-b {
    margin-top: 15px;
    border-radius: 6px;
}

#verletzungen-add {
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: left;
}

#medium, #hard, #easy, #verletzungen-add, #handicap-add {
    text-align: left;
    width: 90%;
    margin: auto;
}



