
#header {
    text-align: center;
}

#body {
    width: 100%;
    height: 500px;
}
#footer {
    text-align: center;
}

#selector {
    width: 50%;
    height: 170px;
    margin: auto;
    border-radius: 12px;
    border: 2px solid black;
}

#dif-wrapper {
    width: 30%;
    margin: auto;
}
#submit {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;

}

.h {
    font-weight: bold;
}
#out {
    display: none;
    margin-top: 50px;
    width: 100%;
    height: 300px;
}


@media only screen and (max-width:600px) {
    #selector {
        width: 90%;
        height: 200;
    }
    #dif-wrapper {
        width: 80%;
    }
    #submit {
        border-radius: 8px;
        height: 30px;
    }
}